fastapi
uvicorn
pandas
numpy
matplotlib
scipy
opencv-python
ultralytics
python-dotenv
langchain-google-genai
orjson


pydantic
aiofiles
python-multipart
jinja2
starlette
typing-extensions
annotated-types
